<h1>Listing Appointments</h1>


<% @appointments.each do |appointment| %>
<%= appointment.start_time.strftime("%B") %> <%= appointment.start_time.day %> <%= appointment.start_time.strftime("%l %P") %>
added a day : <%= appointment.start_time + 1.day  %>
<% end %>


<%= react_component 'Main'  %>
