<h1>Listing Appointments</h1>

<% if @error %>
  <h3><%= @error %></h3>
<% end %>

<div>
  <% if current_sitter %>
    Signed in as <strong><%= current_sitter.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <%= link_to "I am the Parent", parents_index_path %>
<% end %>
</div>

<% if @current_sitter %>
  <%= react_component 'Main', {currentSitter: @current_sitter}  %>
<% else %>
  <p>You need to login to see the schedule!</p>
<% end %>
